<template>
  <HeaderNavbar />
  <div class="float-end about">
    <h1>This is an about page</h1>
  </div>
</template>
<script>
import HeaderNavbar from "@/components/Header/Navbar.vue";
export default {
  name: "AboutView",
  components: {
    HeaderNavbar,
  },
};
</script>
