<template>
  <HeaderNavbar />
  <div class="home">
    <p class="text-end">
      WELCOME user: {{ userName }}
      <router-link to="/profile"
        ><button class="btn btn-info">Profile</button></router-link
      >
    </p>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import HeaderNavbar from "@/components/Header/Navbar.vue";
export default {
  name: "HomeView",
  data() {
    return {
      userName: "",
    };
  },
  mounted() {
    let user = localStorage.getItem("user-info");
    if (!user) {
      this.$router.push({ name: "SignUp" });
    } else {
      this.userName = JSON.parse(user);
      console.log(this.userName);
    }
  },
  methods: {
    ...mapActions(["redirectTo"]),
  },
  components: {
    HeaderNavbar,
  },
};
</script>
