<template>
  <div class="container">
    <LoginForm />
  </div>
</template>

<script>
import LoginForm from "@/components/Login.vue";
export default {
  name: "LogIn",
  components: {
    LoginForm,
  },
};
</script>
