<template>
  <div class="container">
    <Profile />
  </div>
</template>

<script>
import Profile from "@/components/Profile.vue";
export default {
  name: "ProfileForm",
  components: {
    Profile,
  },
};
</script>
