<template>
  <div class="container">
    <SignUpForm />
  </div>
</template>

<script>
import SignUpForm from "@/components/Signup.vue";
export default {
  name: "SignUp",
  components: {
    SignUpForm,
  },
};
</script>
