<template>
  <div class="container">
    <UpdateProfile />
  </div>
</template>

<script>
import UpdateProfile from "@/components/UpdateProfile.vue";
export default {
  name: "UpdateProfileForm",
  components: {
    UpdateProfile,
  },
};
</script>
