<template>
  <nav id="nav">
    <router-link to="/" exact><a>Home</a></router-link>
    <router-link to="/about"><a>About</a></router-link>
    <router-link to="/sign-up"><a>Sign Up</a></router-link>
    <router-link to="/login"><a>Login</a></router-link>
    <a href="#" @click="LogMeOut()">Logout</a>
  </nav>
  <router-view />
</template>
<script>
import { mapActions } from "vuex";
export default {
  name: "HeaderNavbar",
  methods: {
    ...mapActions(["redirectTo"]),
    LogMeOut() {
      localStorage.clear();
      this.$router.push({ name: "LoginForm" });
    },
  },
};
</script>
<style lang="scss" scoped>
$fontColor: darkcyan;
$navColor: #525a5a;
nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  a {
    text-decoration: none;
    font-weight: bold;
    color: $fontColor;
    padding: 10px;
  }
}
a.router-link-exact-active a,
nav a a:hover {
  color: $navColor;
  box-shadow: 2px 2px 4px 0px $navColor;
}
</style>
