<template>
  <form @click.prevent action="" method="">
    <div class="row g-3 align-items-center">
      <div class="col-auto d-block mx-auto">
        <h1>Log in</h1>
      </div>
    </div>

    <div class="row g-3 align-items-center">
      <div class="col-auto d-block mx-auto">
        <input
          type="email"
          class="form-control"
          placeholder="Enter Your Email"
          v-model="state.email"
        />
        <span class="error-feedback" v-if="v$.email.$error">{{
          v$.email.$errors[0].$message
        }}</span>
      </div>
    </div>
    <br />
    <div class="row g-3 align-items-center">
      <div class="col-auto d-block mx-auto">
        <input
          type="password"
          class="form-control"
          placeholder="Enter Your Password"
          v-model="state.pass"
        />
        <span class="error-feedback" v-if="v$.pass.$error">{{
          v$.pass.$errors[0].$message
        }}</span>
      </div>
    </div>
    <br />

    <div class="row g-3 align-items-center">
      <div class="col-auto d-block mx-auto">
        <button type="submit" @click="LoginNow()" class="btn btn-primary">
          Login
        </button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" @click="signUpPage()" class="btn btn-link">
          Sign Up
        </button>
      </div>
    </div>
    <br />
    <div class="row g-3 align-items-center">
      <div class="col-auto d-block mx-auto error-feedback">
        {{ userNotFoundError }}
      </div>
    </div>
  </form>
</template>

<script>
import { mapActions } from "vuex";
import axios from "axios";
import useValidate from "@vuelidate/core";
import { required, email } from "@vuelidate/validators";
import { reactive, computed } from "vue";

export default {
  name: "LoginForm",
  //composition API
  setup() {
    const state = reactive({
      pass: "",
      email: "",
    });
    //validators
    const rules = computed(() => {
      return {
        pass: { required },
        email: { required, email },
      };
    });
    const v$ = useValidate(rules, state);
    return {
      state,
      v$,
    };
  },
  data() {
    return {
      pass: "",
      email: "",
      userNotFoundError: "",
    };
  },
  methods: {
    ...mapActions(["redirectTo"]),
    async LoginNow() {
      this.v$.$validate();
      if (!this.v$.$error) {
        console.log("Validation successful");
        let result = await axios.get("http://127.0.0.1:3000/users", {
          params: { email: this.state.email, pass: this.state.pass },
        });
        if (result.data.length > 0) {
          localStorage.setItem("user-info", JSON.stringify(result.data));
          this.$router.push({ name: "HomeView" });
        } else {
          this.userNotFoundError = "No User Found";
        }
      } else {
        console.log("Validation Failed");
      }
    },
    signUpPage() {
      this.redirectTo({ val: "SignUp" });
    },
  },
  mounted() {
    let user = localStorage.getItem("user-info");
    if (user) {
      this.redirectTo({ val: "HomeView" });
    } else {
      this.redirectTo({ val: "LoginForm" });
    }
  },
  components: {},
};
</script>
<style lang="scss" scoped>
.error-feedback {
  color: red;
  font-size: 0.85em;
}
</style>
