<template>
  <HeaderNavbar />
  <div class="profile">
    <form @click.prevent>
      <div class="row g-3 align-items-center">
        <div class="col-auto d-block mx-auto">
          <h1>My Profile</h1>
          <input type="text" class="form-control" disabled v-model="name" />
        </div>
      </div>
      <br />

      <div class="row g-3 align-items-center">
        <div class="col-auto d-block mx-auto">
          <input type="email" class="form-control" disabled v-model="email" />
        </div>
      </div>
      <br />
      <div class="row g-3 align-items-center">
        <div class="col-auto d-block mx-auto">
          <input type="password" class="form-control" disabled v-model="pass" />
        </div>
      </div>
      <br />

      <div class="row g-3 align-items-center">
        <div class="col-auto d-block mx-auto">
          <button
            type="submit"
            @click="updateProfile()"
            class="btn btn-primary"
          >
            Update Profile Now
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import HeaderNavbar from "@/components/Header/Navbar.vue";
import { mapActions } from "vuex";
export default {
  name: "ProfileForm",
  data() {
    return {
      name: "",
      email: "",
      pass: "",
    };
  },
  components: {
    HeaderNavbar,
  },
  mounted() {
    let user = localStorage.getItem("user-info");
    if (user) {
      this.name = JSON.parse(user).name;
      this.email = JSON.parse(user).email;
      this.pass = JSON.parse(user).pass;
      console.log(user);
    } else {
      console.log("hello");
    }
  },
  methods: {
    ...mapActions(["redirectTo"]),
    updateProfile() {
      this.redirectTo({ val: "UpdateProfileForm" });
    },
  },
};
</script>
