<template>
  <HeaderNavbar />
  <div class="profile">
    <form @click.prevent>
      <div class="row g-3 align-items-center">
        <div class="col-auto d-block mx-auto">
          <h1>Update Profile</h1>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Your Name"
            v-model="name"
          />
          <span class="error-feedback" v-if="v$.name.$error">{{
            v$.name.$errors[0].$message
          }}</span>
        </div>
      </div>
      <br />

      <div class="row g-3 align-items-center">
        <div class="col-auto d-block mx-auto">
          <input
            type="email"
            class="form-control"
            placeholder="Enter Your Email"
            v-model="email"
          />
          <span class="error-feedback" v-if="v$.email.$error">{{
            v$.email.$errors[0].$message
          }}</span>
        </div>
      </div>
      <br />
      <div class="row g-3 align-items-center">
        <div class="col-auto d-block mx-auto">
          <input
            type="password"
            class="form-control"
            placeholder="Enter Your Password"
            v-model="pass"
          />
          <span class="error-feedback" v-if="v$.pass.$error">{{
            v$.pass.$errors[0].$message
          }}</span>
        </div>
      </div>
      <br />

      <div class="row g-3 align-items-center">
        <div class="col-auto d-block mx-auto">
          <button
            type="submit"
            @click="updateProfileNow()"
            class="btn btn-primary"
          >
            Update Profile Now
          </button>
        </div>
      </div>
    </form>
  </div>
</template>

<script>
import HeaderNavbar from "@/components/Header/Navbar.vue";
import { mapActions } from "vuex";
import axios from "axios";
import useValidate from "@vuelidate/core";
import { required, email, minLength } from "@vuelidate/validators";
export default {
  name: "UpdateProfile",
  data() {
    return {
      v$: useValidate(),
      name: "",
      email: "",
      pass: "",
    };
  },
  validations() {
    return {
      name: { required, minLength: minLength(6) },
      pass: { required, minLength: minLength(6) },
      email: { required, email },
    };
  },
  components: {
    HeaderNavbar,
  },
  methods: {
    ...mapActions(["redirectTo"]),
    async updateProfileNow() {
      this.v$.$validate();
      if (!this.v$.$error) {
        console.log("successful");
        let result = await axios.put("http://127.0.0.1:3000/users/${this.id}", {
          name: this.name,
          email: this.email,
          pass: this.pass,
        });
        console.log(result);
        if (result.status == 200 && result.data.length) {
          console.log("Updated User Successfully");
          //save user data in local storage
          localStorage.setItem("user-info", JSON.stringify(result.data));
          console.log(result.data);
          //redirect to home
          this.redirectTo({ val: "HomeView" });
        }
      } else {
        console.log("failed");
      }
    },
  },
};
</script>
<style lang="scss" scoped>
.error-feedback {
  color: red;
  font-size: 0.85em;
}
</style>
